@tailwind base;
@tailwind components;
@tailwind utilities;



/* Resets globais. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cinza-100: #27272a;
  --cinza-600: #111111;
  --laranja-600: #ea580c;
}

body {
  background: var(--cinza-600);
  color: #ffffff;
  overflow-x: hidden;
  transition: all ease-in-out;
}
/* Definindo as fontes e o tamanho nos globais. */
body,
input,
textarea,
select,
button {
  font: 400 1rem "Oxygen", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 2000px) {
  .oculto {
    display: none !important;
  }

  .em-tela{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px){
  .card{
    width: 10rem !important;
  }
}

@media (max-width: 1000px) {
  body{
    overflow-x: auto;
  }
}

/* Mudanças específicas no CSS */

.background {
  background-image: linear-gradient(
      to top,
      rgba(17, 17, 17, 0.1),
      rgba(17, 17, 17, 0.9)
    ),
    url("../assets/background-main-page.jpg");
  background-size: cover;
}


.card {
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #27272a;
  gap: 1rem;
  border-radius: 0.367rem;
  padding: 6px;
  transition: all 0.7s ease;
}

.card:hover {
  scale: 1.1;
}

.card svg {
  font-size: 2rem;
}

.card p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}
